<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<!-- blog entry title -->
      <div class="form-group">
        <%= f.text_field :title, placeholder: "Blog Entry Title...", class: "form-control" %>
      </div>
<!-- user id -->
      <div class="form-group">
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
<!-- content of post -->
      <div class="form-group">
        <%= f.text_area :blog_entry, placeholder: "Tell Us Something...", class: "form-control" %>
      </div>
<!-- post id -->
      <!-- <div class="form-group">
        <%= f.hidden_field :post_id, value: @post.id %>
      </div> -->
<!-- submit button -->
      <div class="form-group">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>

<% end %>
