<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Author</th>
      <th>Blog entry</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <th scope="row"></th>
        <td><%= post.title %></td>
        <td><p>by <em><%= link_to post.user.username, user_posts_path(id: post.user_id) %></em></p></td>
        <td><%= post.user.username %></td>
        <td><%= post.blog_entry %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posts %>

<br>

<%= link_to 'New Post', new_post_path %>
